@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');


body {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

a {
    display: flex;
    text-decoration: none;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-style: normal;
    line-height: 1.4;
    color: #000000;
}

a:hover {
    color: rgb(0, 106, 255);
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    color: #333;
    font-size: large;
    line-height: 1.4;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: #333;
    font-size: 48px;
    text-align: center;
}

h2 {
    font-weight: normal;
    font-size: 30px;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 5%;
}

h3 {
    font-weight: bold;
    font-size: 20px;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 3%;
}

#main {
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-family: 'Montserrat', sans-serif;
    margin-left: 2%;
    margin-right: 2%;
    width: 100%;
}

#list {
    width: 30%;
    justify-content: center;
    margin: 2%;
    margin-left: 0%;
    max-height: 70vh;
    overflow-y: auto;

    border-radius: 10px; /* Ajouter des coins arrondis pour un aspect moderne */
    background-color: #f9f9f9; /* Couleur de fond */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ajouter une ombre douce pour un effet de profondeur */
    border: 1px solid #ddd; /* Ajouter une bordure légère */
}

#results-heading { /* h2 */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 4%;
    margin: 0%;
    background-color: rgb(255, 255, 255);
}


.circle:hover {
    fill:rgb(221, 211, 67);
    stroke: rgb(221, 211, 67);
    transition: fill 0.3s;
}

#svg3811 {
    display: flex;
    justify-content: start;
    width: 50%;
    padding: 0%;
    margin: 0%;
}

#svg3811 path {
    fill:rgb(168, 200, 241);
    stroke: #ffffff;
    transition: fill 0.3s;
    stroke-width: 0.7;
}

#svg3811 path:hover {
    fill:rgb(85, 152, 240);
}

#suggestions-list {
    padding: 0;
    margin: 0;
    position: absolute;
    width: 28vw;
    background-color: rgba(255, 255, 255, 0.897);
    border: 1px solid #ccc;
    border-radius: 3%;
    border-top: none;
    max-height: 50vh;
    overflow-y: auto;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

#suggestions-list li {
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    padding: 0.3vw 2vh;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#suggestions-list li:hover {
    background-color: #f0f0f0;
}

#city {
    display: flex;
    width: 20%;
    flex-direction: column;
    margin: 1%;
}

#city-details {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    border-radius: 3%;
    pointer-events: none;
}

#city-info {
    margin: 5%;
}

#city-info2 {
   margin: 5%;
}

#citiesList {
    list-style-type: none;
    margin-right: 10%;
}

#citiesList li {
    cursor: pointer;
    padding: 5px;
    transition: background-color 0.3s ease;
}

#citiesList li:hover {
    background-color: #f0f0f0;
}

#research-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(219, 221, 223, 0.692);
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    width: 70%;
}


.search-form {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 3%;
}

#search-by {
    display: flex;
    font-size: 16px;
    margin: 2%;
}

#search-btn {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding-bottom: 8%;
    padding-top: 8%;
    margin: 2%;
    background: #D9D9D9;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-weight: lighter;
    height: 5vh;
    width: 15vw;
}

#search-btn:hover {
    background: #989898;
    border: 1px solid #989898;
}

#search-input {
    display: flex;
    width: 96%;
    margin-bottom: 2%;
    padding: 2%;
    align-items: center;
    border: 2px solid #aeb2b4;
    border-radius: 8px;
}

#research_button_div {
    display: flex;
    width: 100%;
    justify-content: center;
}

#population-filter {
    display : flex;
    padding: 2%;
    border-radius: 5px;
    font-size: 16px;
    width: 14vw;
    background: #aeb2b4;
    border: 2px solid #aeb2b4;
    border-radius: 1ch;
}

#distance-filter {
    display : flex;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    width: 14vw;
    background: #aeb2b4;
    border: 2px solid #aeb2b4;
    border-radius: 1ch;
}

#user-distance {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 8%;
    padding: 1%;
    margin: 4%;
    margin-left: 3%;
    background-color: #f1f1f1;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#svg3811 .pin {
    fill: red;
}

#svg3811 .pin:hover {
    fill: rgb(128, 23, 23);
}